@use "global" as *;

.campaign__inner.inner {
  position: relative;
  text-align: center;
  width: 100%;
}

.campaign__box {
  position: absolute;
  top: rem(35);
  right: rem(120);
}

.campaign-swiper {
  margin-right: calc(50% - 50vw);
  overflow-x: clip;
  margin-top: rem(34);
  @include mq("md") {
      margin-top: rem(40);
  }
}

.campaign__button {
  text-align: center;
  margin-top: rem(40);
  @include mq("md"){
      margin-top: rem(80);
  }
}




