@use "global" as *;

.layout-footer {
  background: $green;
  margin-top: rem(110);
  padding-top: rem(50);
  padding-bottom: rem(56);
  padding-inline: rem(15);

  @include mq(md) {
    padding-inline: 0;
    margin-top: rem(140);
    padding-top: rem(82);
    padding-bottom: rem(80);
  }
}

.layout-footer.layout-page-404--footer {
  padding-top: rem(20);
  margin-top: rem(0);

  @include mq("md") {
  padding-top: rem(45);
  margin-top: rem(0);
  }
}
