@use "global" as *;

.mv {
  width: 100%;
  height: 100vh;
  overflow:hidden;
}

.mv__inner {
  position: relative;
  width: 100%;
  height: inherit;
}

.mv__slider,
.swiper-slide picture,
.swiper-slide img {
  height: inherit;
}

.swiper-slide img {
  object-fit: cover;
}

.mv__title-wrap {
  position: absolute;
  z-index: 10; //スライダーよりは手前にする為
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
  @include mq("md") {
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
  }
}

.mv__title {
  font-size: rem(40);
  font-weight: $regular;
  letter-spacing: 0.54em;
  text-indent: 0.54em;
  color: $white;
  font-family: $eng-second-font-family;

  @include mq("md") {
    font-size: rem(80);
  }
}

.mv__text {
  font-size: rem(20);
  font-weight: $regular;
  font-family: $eng-font-family;
  color: $white;
  text-align: center;
}

