@use "global" as *;

.about-us__inner {
  max-width: rem(600);
  @include mq("md") {
    position: relative;
  }
}

.about-us__inner::before {
  @include mq("md") {
    content: "";
    position: absolute;
    width: rem(194); 
    height: rem(181);
    bottom: -13%;
    right: calc(50% - min(48.5vw, rem(638)));
    background-image: url(../images/common/Aboutas-icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 10;
  }
}

.about-us__contents {
  margin-top: rem(27);

  @include mq("md"){
    margin-top: rem(40);
  }
}

.about-us__img-wrap {
  position: relative;
  aspect-ratio: 1.6273;
  @include mq("md"){
      aspect-ratio: 1.6333;
  }
}

.about-us__img-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 37%;
  z-index: 3;
}

.about-us__img-right {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 81%;
}

.about-us__text-body {
  margin-top: rem(45);
  text-align: center;
  @include mq("md"){
      position: absolute;
      top: 55%;
      right: 0;
      transform: translateY(-50%);
      display: flex;
      gap: rem(40);
      max-width: rem(840);
      margin-right: rem(40);
      margin-top: 0;
      z-index: 10;
  }
}

.about-us__sub-titles {
    font-size: rem(40);
    font-weight: $regular;
    line-height: 1;
    font-family: $eng-font-family;
    color: $green;
    text-align: left;

    @include mq("md") {
      font-size: rem(80);
      line-height: rem(90);
      color: $white;
    }
  }

  .about-us__sub-texts {
  margin-top: rem(13);
  color: $green2;
  text-align: left;
  min-width: rem(345);

  @include mq("md") {
    font-size: rem(16);
    font-weight: $regular;
    color: $white;
    width: 100%;
    max-width: rem(400);
    text-align: left;
  }
}

.about-us__button {
  text-align: center;
  margin-top: rem(50);
  @include mq("md"){
      margin-top: rem(40);
  }
}

//page-about

.about-us__contents.about-us__contents--page {
  margin-top: rem(0);
}

.about-us__img-right--page {
  width: 100%;
  @include mq("md") {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 81%;
  }
}

.about-us__sub-titles--page {
  color: $white;
  position: absolute;
  top: 2.5%;
  left: 6%;
  @include mq("md") {
    position: static; /* PC時にはabsoluteではないスタイルに戻す */
    bottom: auto; /* absoluteを解除したため不要 */
    right: auto; /* absoluteを解除したため不要 */
  }
}

.about-us__sub-texts--page {
  color: $blue;
}

.about-us__text-body--page {
  margin-top: rem(45);
  text-align: center;
  @include mq("md"){
      position: absolute;
      top: 44%;
      right: 0;
      transform: translateY(-50%);
      display: flex;
      gap: rem(40);
      max-width: rem(840);
      margin-right: rem(40);
      margin-top: 0;
      z-index: 10;
  }
}