@use "global" as *;

.accordion {
  width: 100%;
  display: grid;
  gap: rem(44);

  @include mq("md") {
    gap: rem(35);
  }
}

.accordion__title {
  position: relative;
  font-size: rem(16);
  padding: rem(16);
  font-family: $base-font-family;
  font-weight: $regular;
  cursor: pointer;
  color: $white;
  background-color: $green;
  @include mq("md") {
    padding: rem(25) rem(40);
    font-size: rem(20);
  }
}

.accordion__title::after,
.accordion__title::before {
  position: absolute;
  content: "";
  display: block;
  width: rem(33);
  height: rem(1);
  background-color: $white;
  right: 11px;
  top: 50%;
  transform: translate(0, -50%);
  transition: 0.3s transform, 0.3s opacity;  @include mq("md") {
    right: 40px;
  }
}

.accordion__title.is-open::after {
  content: "";
  position: absolute;
  background-color: #fff;
  width: rem(33);
  height: rem(1);
  right: 11px;
  top: 50%;
  transform: translate(0, -50%);
  @include mq("md") {
  right: 40px;
  }
}

/* 初期状態: 「-」アイコン */
.accordion__title::before {
  width: rem(33);
  height: rem(1);
  background-color: $white;
  right: 11px;
  top: 50%;
  transform: translate(0, -50%) rotate(0deg); /* 垂直線 */
}

.accordion__title::after {
  width: rem(33);
  height: rem(1);
  background-color: $white;
  right: 11px;
  top: 50%;
  transform: translate(0, -50%) rotate(0deg); /* 水平線 */
}

/* アコーディオンが開いたときのスタイル */
.accordion__title.is-open::before {
  transform: translate(0, -50%) rotate(180deg); /* 水平線 */
}

.accordion__title.is-open::after {
  transform: translate(0, -50%) rotate(90deg); /* 垂直線 */
}

.accordion__content {
  padding: rem(20) rem(16) rem(20);
  border: 1px solid $green;
  @include mq("md") {
    margin-top: rem(16);
    padding: rem(40);
  }
}

.accordion__text {
  font-size: rem(16);
  letter-spacing: normal;
}