@use "global" as *;

.blog-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $white;
  transition: all 0.3s ease 0s;
  padding: rem(16) rem(16) rem(24);
  box-shadow: rem(2) rem(2) rem(10) rgba(0, 0, 0, 0.25);
}

.blog-card:hover {
  opacity: 0.8;
}

.blog-card:hover .blog-card__item-img img {
  transform: scale(1.3);
}

.voice-card__box {
  @include mq("md") {
    gap: rem(16);
  }
}

.blog-card__item-img {
  width: 100%;
  overflow: hidden;
}

.blog-card__item-img img {
  width: 100%;
  aspect-ratio: 301 / 201;
  object-fit: cover;
  transition: transform 0.6s ease;
}

.blog-card__item-category {
  font-size: rem(12);
  font-weight: $regular;
  line-height: 1;
  color: $blue;
  margin-top: rem(28);
  text-align: left;
  font-family: $eng-font-family;
}

.blog-card__item-title {
  font-size: rem(16);
  font-weight: $normal;
  color: $blue;
  line-height: 1.5;
  padding-bottom: rem(4);
  border-bottom: 1px solid $green;
  text-align: left;
}

.blog-card__item-text {
  font-size: rem(16);
  line-height: 1.5;
  text-align: left;
  margin-top: rem(16);
}

