@use "global" as *;

.blog::before {
  @include mq("md"){
      background-image: url(../images/common/Blog-bg.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 61%;
      z-index: -1;
  }
}

.blog__inner {
  position: relative;
  max-width: rem(600);
}

.blog__inner::before {
  @include mq("md") {
    content: "";
    position: absolute;
    width: rem(437); 
    height: rem(200);
    top: rem(-70);
    left: calc(50% - min(48.5vw, rem(620))); 
    background-image: url(../images/common/Blog-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 100;
  }
}

.blog__cards {
  margin-top: rem(32);
  @include mq(md){
    margin-top: rem(88);
  }
}

.blog__button {
  text-align: center;
  margin-top: rem(40);
  @include mq("md"){
      margin-top: rem(80);
  }
}


