@use "global" as *;

.category-button__list {
  display: grid;
  justify-items: center; /* グリッドアイテムを中央揃え */
  justify-content: center; /* コンテナ全体を中央揃え */
  column-gap: rem(16);
  row-gap: rem(21);
  grid-template-columns: repeat(auto-fill, minmax(rem(162), 1fr));
  // grid-template-columns: repeat(auto-fit, minmax(rem(162), 1fr)); //数を指定せず幅で柔軟に対応

  @include mq(md){
    justify-items: flex-start; /* グリッドアイテムを左揃え */
    justify-content: flex-start; /* グリッドコンテナ全体を左揃え */
    row-gap: rem(32);
  }
}

.category-button__tab {
  transition: .3s ease-in-out;
  text-align: center;
  font-size: rem(14);
  font-weight: $regular;
  color: $green;
  background: $white;
  border: 1px solid $green;
  padding: rem(5) rem(0);
  cursor: pointer;
  width: 100%;
  box-sizing: border-box; /* パディングを含める */
  margin: 0; /* マージンをリセット */
}

.category-button__tab.is-active:hover {
  font-size: rem(14);
  font-weight: $regular;
  color: $green;
  background: $white;
  border: 1px solid $green;
  padding: rem(5) rem(0);
  cursor: pointer;
  width: 100%;
  box-sizing: border-box; /* パディングを含める */
}

// .category-button__tab.is-active {
//   color: $white;
//   background: $green;
//   // transition: .3s ease-in-out;
// }

// .category-button__tab:hover {
//   color: $white;
//   background: $green;
//   // transition: .3s ease-in-out;
// }

.category-button__tab.is-active {
  color: $white;
  background: $green;
  // transition: .3s ease-in-out;
}

// 他のタブのホバー時のスタイルを維持
.category-button__tab:not(:first-child):hover {
  color: $white;
  background: $green;
}

// ALLタブ専用のスタイル
.category-button__tab.js-tab-button:first-child {
  color: $white;
  background: $green;
  border: 1px solid $green;
  pointer-events: none;  // クリックを無効にする（オプション）
}


