@use "global" as *;

.fish-image {
  position: relative;
}

.fish-image::before {
  content: "";
  position: absolute;
  width: rem(120);
  height: rem(55);
  background-image: url(../images/common/Voice-icon1.svg);
  top: rem(-30);
  left: calc(53% - min(48.5vw, rem(620))); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 10;
  @include mq("md") {
    left: calc(50% - min(48.5vw, rem(620))); 
    width: rem(301);
    height: rem(138);
    top: rem(-70);
    z-index: -10;
  }
}

