@use "global" as *;

.form__wrap {
  width: 100%;
  padding-bottom: rem(26);
	border-bottom: 1px dotted $green;

  @include mq(md){
    display: flex;
    padding-bottom: rem(40);
  }
}

.form__wrap:not(:first-child) {
    margin-top: rem(25);
    @include mq("md") {
      margin-top: rem(42);
    }
}

.form__wrap.form__wrap--textarea {
  @include mq(md){
    align-items: flex-start;
    margin-top: rem(30);
  }
}

.form__select {
  width: 100%;
}

.form__label {
    font-size: rem(16);
    font-weight: $bold;
    line-height: 1;
    @include mq(md){
        max-width: rem(220);
        width: 100%;
    }
}

.form__wrap.form__wrap--textarea.form__label {
    @include mq(md){
        margin-top: rem(10);
    }
}

.form__label span {
    margin-left: rem(8);
    padding: rem(4) rem(14) rem(4) rem(16);
    display: inline-block;
    font-size: rem(12);
    letter-spacing: rem(4);
    font-weight: $regular;
    color: $white;
    background-color: $red;
}

.form__input,
.form__select,
.form__radio,
.form__textarea {
  margin-top: rem(17);
  @include mq(md){
      margin-top: 0;
    }
}

/* プレースホルダーの色を指定 */
.form-input input::placeholder {
  color: $skyblue; /* 希望する色コードに変更 */
}

/* テキストエリアのプレースホルダーの色を指定 */
.form-textarea textarea::placeholder {
  color: $skyblue; /* 希望する色コードに変更 */
}


.form__checkbox {
  margin-top: rem(20);
  @include mq("md") {
    margin-top: rem(0);
  }
}

.form__checkbox label:not(:first-child) {
  margin-top: rem(25);
}

.form__input,
.form__textarea {
  flex-grow: 1;
}

.form__submit {
    margin-top: rem(60);
    text-align: center;
}

.form-input input {
	padding: rem(8) rem(15);
	width: 100%;
	font-size: rem(15);
	line-height: 1;
	border-radius: 0;
	border: 1px solid $green;
	appearance: none;
	background-color: transparent;
	background-image: none;
}

.form-input input:focus {
	border: 1px solid $green;
	box-shadow: none;
	outline: none;
}

.form-checkbox label {
  font-size: rem(16);
  letter-spacing: rem(1);
  display: flex;
  text-align: left;
}

.form-checkbox label:not(:first-of-type) {
    margin-top: rem(12);
}

.form-checkbox input {
    display: none;
}

.form-checkbox input + span {
    cursor: pointer;
    display: inline-block;
    padding: 0 0 0 rem(23);
    position: relative;
    font-size: rem(15);
    line-height: 1;
}

.form-checkbox input + span::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: #fff;
    border: 1px solid $green;
    display: block;
    width: rem(15);
    height: rem(15);
}

.form-checkbox input + span::after {
    content: "";
    margin-top: rem(-2);
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translateY(-50%) rotate(-35deg);
    display: block;
    width: rem(10);
    height: rem(5);
    border-bottom: rem(2.5) solid $red;
    border-left: rem(2.5) solid $red;
    transition:  .3s;
    opacity: 0;
}

.form-checkbox input:checked + span::after {
    opacity: 1;
}

.form-select select {
    padding: rem(11.5) rem(50) rem(11.5) rem(8);
    width: 100%;
    font-size: rem(12);
    line-height: 1;
    border-radius: 0;
    border: 1px solid $green;
    background-image: url(./../images/common/Contact-p.svg);
    background-repeat: no-repeat;
    background-size: rem(15);
    background-position: right rem(15) top rem(15);
    appearance: none;
    cursor: pointer;
}

.form-select select::-ms-expand {
    display: none;
}

.form-select select:focus {
    border: 1px solid $green;
    box-shadow: none;
		outline: none;
}

.form-textarea textarea {
    padding: rem(8) rem(15);
    width: 100%;
    height: rem(200);
    font-size: rem(15);
    border-radius: 0;
    border: 1px solid $green;
    appearance: none;
    background-color: transparent;
    background-image: none;
}

.form-textarea textarea:focus {
    border: 1px solid $green;
    box-shadow: none;
    outline: none;
}

.form__wraps {
  margin-top: rem(40);
  text-align: center;

  @include mq("md") {
    margin-top: rem(70);
  }
}

.form__checkbox--item label {
  max-width: rem(282);
  display: inline-block; /* 中央寄せのためにブロック要素をインラインブロックに変更 */
  text-align: left;
  @include mq("md") {
    max-width: none; /* PCサイズではmax-widthを解除 */
  }
}

.form__checkbox--item input {
    display: none;
}

.form__checkbox--item.form-checkbox input + span {
  cursor: pointer;
  display: inline-block;
  padding: 0 0 0 rem(36);
  position: relative;
  font-size: rem(15);
  line-height: 1;
}

.form__checkbox--item.form-checkbox input + span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: #fff;
  border: 1px solid $green;
  display: block;
  width: rem(22);
  height: rem(22);
}

.form__checkbox--item.form-checkbox {
  font-size: rem(14);
  letter-spacing: rem(2);
}

.form__checkbox--item input + span::after {
  content: "";
  margin-top: rem(-2);
  position: absolute;
  top: 50%;
  left: 1%;
  transform: translateY(-50%) rotate(-35deg);
  display: block;
  width: rem(15);
  height: rem(5);
  border-bottom: rem(2.5) solid $red;
  border-left: rem(2.5) solid $red;
  transition:  .3s;
  opacity: 0;
}
