@use "global" as *;

.label {
  display: flex;
  align-items: center;
}

.label::before {
  content: "";
  background-color: $green;
  width: rem(8);
  height: rem(50);
  margin-right: rem(16);
}

.label__title {
  width: 100%;
  display: flex;
  align-items: center;
}

.label__title h2 {
  font-size: rem(24);
  font-family: $base-font-family;
  font-weight: $regular;
  margin-left: rem(10);
}

.label__title img {
  width: rem(50);
}