@use "global" as *;

.page-blog-detail__wraps {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mq("md") {
    flex-direction: row;
    align-items: flex-start;
  }
}

.page-blog-detail__category {
  font-size: rem(14);
  font-weight: $regular;
  font-family: $eng-font-family;
}

.page-blog-detail__title {
  border-bottom: rem(1) solid $green;
  margin-top: rem(6);
  font-size: rem(24);
  font-weight: $normal;
  @include mq("md") {
    font-size: rem(32);
  }
}

.page-blog-detail__img {
  margin-top: rem(24);

  @include mq("md") {
  margin-top: rem(40);
  }
}

.page-blog-detail__img img {
  aspect-ratio: 175 / 117;
}

.page-blog-container--detail p {
  margin-top: rem(25);
  font-size: rem(16);
  font-weight: $regular;

  @include mq("md") {
    margin-top: rem(40);
  }
}

.page-blog-container--detail ul {
  margin-top: rem(26);

  @include mq("md") {
    margin-top: rem(30);
  }
}

.page-blog-container--detail li {
  font-size: rem(16);
  font-weight: $regular;
  display: flex;
  justify-content: flex-start;
}

.page-blog-container--detail li:not(:first-child) {
  margin-top: rem(4);
}

.page-blog-container--detail li::before {
  display: block;
  content: url(../images/common/hitode2.svg);
  max-width: rem(18);
  margin-right: rem(9);
}

.page-blog-detail__list img {
  color: $green;
  max-width: rem(18);
  width: 100%;
  margin-right: rem(9);
}
