@use "global" as *;

.page-voice__inner {
  max-width: rem(600);
  position: relative;
}

.page-voice__inner::before {
  content: "";
  position: absolute;
  width: rem(120);
  height: rem(55);
  background-image: url(../images/common/Voice-icon1.svg);
  top: rem(-26);
  left: calc(50% - min(48.5vw, rem(620))); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -10;
  @include mq("md") {
    background-image: url(../images/common/Voice-icon1.svg);
    width: rem(301);
    height: rem(138);
    top: rem(-70);
    z-index: -10;
  }
}


.page-voice__category-button {
  margin-top: rem(40);

  @include mq("md") {
    margin-top: rem(140);
  }
}

.page-voice__cards {
  margin-top: rem(40);
}

