@use "global" as *;

.page-termsofservice__inner {
  @include mq("md") {
    max-width: rem(850);
  }
}

.page-termsofservice__contact {
  margin-top: rem(41);
}

.page-termsofservice__title {
  font-size: rem(24);
  font-weight: $normal;

  @include mq("md") {
    font-size: rem(32);
  }
}

.page-termsofservice__text,
.page-termsofservice__note {
  font-size: rem(16);
  font-weight: $regular;
  line-height: 2;
}

.page-termsofservice__note {
  text-indent: -1em;
  padding-left: rem(25);
}

.page-termsofservice__wrap {
  margin-top: rem(32);
}