@use "global" as *;

.page-termsofservice__inner {
  @include mq("md") {
    max-width: rem(850);
  }
}

.page-termsofservice__title {
  font-size: rem(24);
  font-weight: $normal;

  @include mq("md") {
    font-size: rem(32);
  }
}

.page-termsofservice__box {
  margin-top: rem(40);
}

.page-termsofservice__box div {
  margin-top: rem(32);
}

.page-termsofservice__box p,
.page-termsofservice__box li {
  font-size: rem(16);
  // font-weight: $normal;
  line-height: 2;
}

.page-termsofservice__box ol {
  list-style: decimal;
  padding-left: rem(22);
  text-indent: rem(2);
}

