@use "global" as *;

.page-privacypolicy__inner {
  @include mq("md") {
    max-width: rem(865);
  }
}

.page-privacypolicy__title {
  font-size: rem(24);
  font-weight: $regular;
  color: $blue;
  font-family: $base-font-family;

  @include mq("md") {
    font-size: rem(32);
  }
}

.page-privacypolicy__box {
  margin-top: rem(40);
}

.page-privacypolicy__box div {
  margin-top: rem(32);
}

.page-privacypolicy__box p,
.page-privacypolicy__box li {
  font-size: rem(16);
  // font-weight: $normal;
  line-height: 2;
}

.page-privacypolicy__box ul,
.page-privacypolicy__box ol {
  list-style: decimal;
  padding-left: rem(22);
  text-indent: rem(2);
}
