@use "global" as *;

.title {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.title__main {
  font-family: $eng-font-family;
  font-size: rem(32);
  font-weight: $regular;
  color: $blue;
  @include mq("md") {
    font-size: rem(40);
  }
}

.title__main::first-letter {
  color: $green;
}

.title__sub {
  font-size: rem(12);
  font-weight: $regular;
  color: $green;
}
