@use "global" as *;

.voice__inner {
  max-width: rem(600);
  @include mq("md") {
    position: relative;
  }
}

.voice__inner::before {
  @include mq("md") {
    content: "";
    position: absolute;
    width: rem(71);
    height: rem(162);
    top: rem(550);
    right: calc(50% - min(48.5vw, rem(540))); 
    background-image: url(../images/common/Voice-icon2.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 100;
  }
}

.voice__inner::after {
  @include mq("md") {
    content: "";
    position: absolute;
    width: rem(301); 
    height: rem(138);
    top: rem(-105);
    left: calc(50% - min(48.5vw, rem(620))); 
    background-image: url(../images/common/Voice-icon1.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 100;
  }
}

.voice__cards {
  margin-top: rem(50);
  @include mq(md){
      margin-top: rem(40);
  }
}

.voice__button {
  text-align: center;
  margin-top: rem(40);
  @include mq("md"){
      margin-top: rem(80);
  }
}